body {
    background-color: hsl(30, 18%, 87%);
}


#main{
    padding: 25px;
    border-radius: 20px;
    width: 500px;
    margin: auto;
    size: 400px;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
}

#recipe-image {
    width: 480px;
    border-radius: 5px;
}

cssportal-grid {
	display: grid;
	grid-template-rows: repeat(12, 1fr);
	grid-template-columns: repeat(8, 1fr);
	gap: 0;
	width: 100%;
	height: 100%;
}
#div1 {
	grid-area: 1 / 1 / 13 / 9;
	background-color: rgba(242,84,15, 0.5);
}
#div2 {
	grid-area: 2 / 2 / 13 / 6;
	background-color: rgba(77,190,115, 0.5);
}
#div3 {
	grid-area: 1 / 4 / 11 / 8;
	background-color: rgba(218,62,54, 0.5);
}