body {
    background-color: #f3e5d8;
	width: 100%;
	font-family: 'Young Serif', serif;
	font-weight: 510;
}

main{
    padding: 25px;
    border-radius: 20px;
    width: 600px;
    margin: auto;
	margin-top: 5%;
    margin-bottom: 2.5%;
    size: 400px;
    align-items: center;
	color: stone;
    background-color: hsl(0, 0%, 100%);
}

img {
	width: 100%;
	height: auto;
	border-radius: 15px;
}

h1 {
    font-weight: 900;
}
h2 {
	color: hsl(14, 45%, 36%);
}

h3 {
	margin-top: 20px;
	color: hsl(332, 51%, 32%);
}	

p, li {
	font-family: "Outfit", sans-serif;
	font-size: 15px;
	color: hsl(30, 10%, 34%);
	line-height: 1.5;
}
#prep-time {
	background-color: #fff7fc;
	padding: 10px;
	border-radius: 12px;
	margin-top: 25px;
}

#prep-time ul {
    margin: 10px 0 0 20px;
}

#prep-time li strong {
    color: hsl(332, 51%, 32%);
}

#prep-time ul li::marker {
  color:hsl(332, 51%, 32%);
}

ol li:nth-child(1)::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}
ol li:nth-child(2)::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}
ol li:nth-child(3)::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}
ol li:nth-child(4)::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}
ol li:nth-child(5)::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}
ol li:nth-child(6)::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}



ul, ol {
    margin-left: 20px;    
}

ul li, ol li {
    margin-bottom: 12px;
}

ul li::marker{
   color: hsl(14, 45%, 36%);
}

ol li strong {
    font-weight: 600;
    color: hsl(30, 10%, 20%);
}

#nutrition {
    margin-top: 30px;
}

.table {
    margin-top: 15px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #d1d1d1;
}

.row:last-child {
    border-bottom: none;
}

.label {
    color: hsl(30, 10%, 34%);
    
}

.value {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
    
}

.attribution {
    text-align: center;
    margin-bottom: 2.5%;
}