body {
    background-color: red;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 40px 0;
}

main {
    background-color: white;
    width: 650px;
    padding: 35px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0 0 0;
}

img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 25px;
}

h1 {
    font-family: 'Young Serif', serif;
    font-size: 32px;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Young Serif', serif;
    color: hsl(14, 45%, 36%);
    font-size: 28px;
    margin-top: 30px;
}

h3 {
    color: hsl(332, 51%, 32%);
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

p, li {
    font-size: 16px;
    color: hsl(30, 10%, 34%);
    line-height: 1.6;
}


#prep-time {
    background-color: #fff7fc;
    padding: 20px 25px;
    border-radius: 12px;
    margin-top: 25px;
}

#prep-time ul {
    margin: 10px 0 0 20px;
}

#prep-time li strong {
    color: hsl(332, 51%, 32%);
}


ul, ol {
    margin-left: 20px;
}

ol li {
    margin-bottom: 12px;
}

ol li strong {
    font-weight: 600;
    color: hsl(30, 10%, 20%);
}


#nutrition {
    margin-top: 30px;
}

.nutrition-table {
    margin-top: 15px;
}

.nutrition-row {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #e4e4e4;
}

.nutrition-row:last-child {
    border-bottom: none;
}

.nutrition-label {
    color: hsl(30, 10%, 34%);
}

.nutrition-value {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}